name: Build JAR with Maven

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: 0 6 * * 1

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6
      with:
        repository: 'ZUGFeRD/mustangproject'

    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '17'
        cache: maven

    - name: Build with Maven
      run: mvn -B clean package

    - name: Upload JAR artifact
      uses: actions/upload-artifact@v6
      with:
        name: Mustang-CLI-SNAPSHOT
        path: Mustang-CLI/target/Mustang-CLI-*-SNAPSHOT.jar
